<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="duke" class="com.springinaction.chapter02.springido1.PoeticJuggler">
        <constructor-arg value="15" />
        <constructor-arg ref="sonnet29" />
    </bean>

    <bean id="sonnet29" class="com.springinaction.chapter02.springido1.Sonnet29" />

    <bean id="Kenny" class="com.springinaction.chapter02.springido1.Instrumentalist">
        <property name="song" value="Jingle Bells" />
        <property name="instrument" ref="piano" />
    </bean>

    <bean id="saxophone" class="com.springinaction.chapter02.springido1.Saxophone" scope="prototype"/>
    <bean id="piano" class="com.springinaction.chapter02.springido1.Piano" />

    <bean id="hank" class="com.springinaction.chapter02.springido1.OneManBand">
        <property name="instruments">
            <map>
                <entry key="PIANO" value-ref="piano" />
                <entry key="BLACKPIANO" value-ref="piano" />
                <entry key="SAX1" value-ref="saxophone" />
                <entry key="SAX2" value-ref="saxophone" />
            </map>
        </property>
    </bean>

    <bean id="theStage" class="com.springinaction.chapter02.springido1.Stage" factory-method="getInstance">
    </bean>

</beans>